<div style="text-align:center">
    <h1>
      Hi {{user}}, Welcome to your {{ title }} page!
    </h1>
  </div>
    <mat-tab-group>
        <mat-tab label="About">
          <h1>About Us</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore optio molestias possimus, inventore repellendus cupiditate, officia fugiat incidunt eaque sint voluptatibus repudiandae laboriosam accusamus excepturi ad facere nemo in aliquam!</p>
        </mat-tab>
        <mat-tab label="Shipping">
          <h1>Shipping </h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et eveniet adipisci ratione officia quibusdam architecto assumenda, cupiditate aspernatur rerum molestiae quos, nam qui repellendus nobis laboriosam. Exercitationem ullam ab unde!</p>
        </mat-tab>
      </mat-tab-group>
